@import "buttons.css";
@import "footer.css";
@import "header.css";

h1 {
    color: rgb(39, 92, 93);
    text-align: center;
    background-color: aqua;
}

h2 {
    color: aqua;
}

body {
    background-color: azure;
}

button {
    border: 0px;
    background-color:aquamarine;
}

.answer {
    align-items: center;
}

.question-card {
    background-color:cadetblue;
    padding: 10px;
    margin: 20px;
}